@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        height: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        background-color: white;
        border: solid 1px silver;
    }

    .title {
        color: grey;
        font-size: 16px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .card a {
        text-decoration: none;
        font-size: 18px;
        color: black;
    }

    button:hover, a:hover {
        opacity: 0.7;
    }
</style>
<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/site.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/js/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>
<script type="text/javascript">
    window.onload = function () {
        window.open("home/homepopup", "Bihar State Housing Board", "scrollbars = yes, width = 600, height = 400, top = 300, left = 500, modal = yes, alwaysRaised = yes");
    };
</script>
<!-- Button trigger modal -->
<!-- Modal Popup -->
<div class="container">
    <div class="row cols-wrapper">
        <div class="col-md-12">
            <section class="promo box box-dark">
                <div class="col-md-12">

                    <h1 class="section-heading">About Us</h1>
                    <p style="text-align:justify;">
                        <img alt="" src="~/testbook.jpg" width="45%" style="float:left; padding:15px; " /> <font style="font-size:16px; ">
                        </font>
                    </p>

                </div>
            </section><!--//promo-->
        </div>

    </div>


    <div class="row cols-wrapper">
        <div class="col-md-12 box btn-dark">

            <div class="card col-md-2">

                <img src="~/1.jpg" alt="Shri   Nitish Kumar" style="width:75%">
                <h4>Shri   Nitish Kumar</h4>
                <p class="title">Hon'ble Chief Minister</p>
                <p>Bihar India</p>


            </div>

            <div class="card col-md-2">

                <img src="~/2.jpg" alt="Shri Shri Nitin Navin" style="width:75%">
                <h4>Shri Shri Nitin Navin</h4>
                <p class="title">Hon'ble Minister UD & HD</p>
                <p></p>


            </div>

            <div class="card col-md-2">

                <img src="~/3.png" alt="Sri  Chaitanya Prasad" style="width:75%">
                <h4>Sri  Chaitanya Prasad</h4>
                <p class="title">IAS, Chairman ,Development Commissioner	</p>
                <p></p>


            </div>

            <div class="card col-md-2">

                <img src="~/4.jpeg" alt="Sri Anand Kishore" style="width:75%">
                <h4>Sri Anand Kishore</h4>
                <p class="title">Principal Secretary, UD & HD</p>
                <p></p>


            </div>

            <div class="card col-md-2">

                <img src="~/5.jpg" alt="Sri Rajiv Kumar Srivastav, IAS" style="width:75%">
                <h4>Sri Rajiv Kumar Srivastav, IAS</h4>
                <p class="title">MD, BSHB  Mob.No.-9473079421  Email- md@bshb.in</p>
                <p></p>


            </div>

            <div class="card col-md-2">

                <img src="~/6.jpg" alt="Sri Shashi Bhushan Prasad" style="width:75%">
                <h4>Sri Shashi Bhushan Prasad</h4>
                <p class="title">Secretary, BSHB</p>
                <p>Mob.no.9473197740 Email-secretarybshb@gmail.com</p>


            </div>

        </div>
    </div>
    <br />
    <div class="row cols-wrapper">

        <div class="col-md-3">
            <a href="E_Auction.aspx" class="link-boxiti external" rel="noopener"><i class="fa fa-angle-double-right" aria-hidden="true"></i>E Auction</a>

            <a href="Lease_Hold_To_Free_Hold.aspx" class="link-boxiti external" rel="noopener"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Free Hold</a>

            <a href="#" class="link-boxiti external" rel="noopener"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Bahadurpur Allotment</a>

            <a href="#" class="link-boxiti external" rel="noopener"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Download Forms</a>

            <a href="#" class="link-boxiti external" rel="noopener"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Post Grievance</a>

            <a href="#" class="link-boxiti external" rel="noopener"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Grievance Status</a>

            <a href="#" class="link-boxiti external" rel="noopener"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Property Data Retreival System</a>

            <a href="#" class="link-boxiti external" rel="noopener"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Asset Declaration</a>


            <br />


        </div>
        <div class="col-md-3">

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" style="font-size:13px;">
                                Be Transparent, Kill Corruption
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            आवास बोर्ड के कार्यालयों में यदि आप भ्रस्टाचार से प्रताड़ित हुए हैं या किसी अधिकारी या कर्मचारी ने आपसे रिश्वत की मांग की है या इस संबंध में आपके पास
                            कोई पक्की सूचना है तो आप अविलम्ब ई-मेल md@bshb.in अथवा फोन नं०- 0612-2217992 अथवा फैक्स नं०- 0612-2217605 अथवा फेसबुक पेज BSHB
                            Facebook पर सूचना दे सकते हैं |
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-2" style="font-size:13px;">
                                Get Direct Solution
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            आवास बोर्ड में लंबित मामलों के निबटारे के लिए सीधा संपर्क करें | शिकायतों की सुनवाई हेतु आवास बोर्ड मुख्यालय तथा प्रमंडल कार्यालयों के ‘समाधान-केंद्र’ में
                            संपर्क करें अथवा ई-मेल samadhan@bshb.in अथवा फोन नं०- 0612-2217617/18 अथवा फैक्स नं०- 0612-2217986 पर शिकायत दर्ज करें | दलालों व बिचौलिओं से बचें |
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse-3" style="font-size:13px;">
                                Trust The System
                            </a>
                        </h4>
                    </div><!--//pane-heading-->
                    <div id="collapse-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            आवास बोर्ड द्वारा आवंटन की प्रक्रिया नियमानुसार तथा व्यापक प्रचार-प्रसार के साथ पारदर्शी तरीके से होती है | आवास बोर्ड द्वारा आवंटन के आवेदन फॉर्म आदि
                            की बिक्री बैंक के माध्यम से की जाएगी | इसलिए आवंटन के मामले में दलालों, बिचौलिओं और एजेंटों का सहारा लेने से बचें | आवेदन फॉर्म बाज़ार में उपलब्ध नहीं है |
                        </div><!--//panel-body-->
                    </div><!--//panel-colapse-->
                </div><!--//panel-->

            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list-alt"></span><b>New Schemes</b>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="demo2">

                                <li class="news-item"><a href="" target="_blank"><img alt="" src="images/new.gif" />&nbsp;उन सभी संपदाओं का एकरारनामा  के बाद  किस्त राशि एकरारनामा के अनुसर जमा नहीं की गई है अन सब सम्पदाओं का एक बार गणना हेतु प्रतिक्रिया दर्ज करने हेतु लेआउट प्लान में जाकर अपनी प्रतिक्रिया दर्ज करें</a> <a href="#">Read more...</a></li>

                                <li class="news-item"><a href="" target="_blank"><img alt="" src="images/new.gif" />&nbsp;BSHB bihar auction training video</a> <a href="#">Read more...</a></li>

                                <li class="news-item"><a href="Admin/documents/7news.jpeg" target="_blank"><img alt="" src="images/new.gif" />&nbsp;100 केवीए साइलेंट डीजी सेट किराए या भाडे के लिए अल्पकालीन कोटेशन</a> <a href="#">Read more...</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>

            <script type="text/javascript">
                $(function () {
                    $(".demo2").bootstrapNews({
                        newsPerPage: 2,
                        autoplay: true,
                        pauseOnHover: true,
                        navigation: true,
                        direction: 'down',
                        newsTickerInterval: 2500,
                        onToDo: function () {
                            //console.log(this);
                        }
                    });


                });
            </script>
        </div>

        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-list-alt"></span><b>Important Notice</b>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul id="demo3">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
                </div>


            </div>
            <script type="text/javascript">
                $(function () {

                    $("#demo3").bootstrapNews({
                        newsPerPage: 2,
                        autoplay: true,

                        onToDo: function () {
                            //console.log(this);
                        }
                    });

                });
            </script>
        </div>

    </div>
    <br />

</div>

        